<%= form_for([@user, @coupon]) do |f| %>
    <div class="form-group">
        <%= f.label "Coupon Code" %>
        <%= f.text_field :code %>
    </div>
    <div class="form-group">
        <%= f.label "Discount" %>
        <%= f.text_field :discount %>
    </div>
    <div class="form-group">
        <%= f.label "Expiration Date" %>
        <%= f.date_field :end_date %>
    </div>
    <div class="form-group">
        <%= f.submit "Create",class: 'btn btn-primary' %>
        <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
    </div>
<% end %>
