<table class="col-6 offset-3 table table-hover table-bordered">
    <tr>
        <th>Category Name</th>
        <th>Sub Category Name</th>
        <th colspan=3>Operation</th>
    </tr>
    <% @subcategories.each do |subcategory| %>
        <tr class='thead-dark'>
            <td><%= subcategory.category.name %></td>
            <td><%= subcategory.name %></td>
            <td><%= link_to 'Edit', edit_category_sub_category_path(@category, subcategory)%></td>
            <td><%= link_to 'Delete', category_sub_category_path(@category, subcategory), method: :delete, data: {confirm: 'Are You Sure ?'}%></td>
        </tr>
    <% end %>
</table>

<%= link_to 'Back', categories_path, class: 'btn btn-primary' %>