
    <h3 align='center'>New Product Form</h3>
    <div class='col-6 offset-3 border'>
        <%= nested_form_for ([@user, @product]) do |f| %>
            <div class="form-group">
                <%= f.label "Product Name", class: 'control-label' %>
                <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
                <%= f.label "Price", class: 'control-label' %>
                <%= f.text_field :price, class: 'form-control', required: true %>
            </div>
            <div class="form-group">
                <%= f.label "Category", class: 'control-label' %>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: true}, class: 'form-control', required: true ) %>
            </div>
            <div class="form-group">
                <%= f.label "Sub Categories", class: 'control-label' %>
                <%= f.grouped_collection_select(:sub_category_id, Category.order(:name), :sub_categories, :name, :id, :name, {}, {class: 'form-control', required: true} ) %>
            </div>
            <div class="form-group">
                <%= f.label "Brand" %>
                <%= f.collection_select(:brand_id, Brand.all, :id, :name, {prompt: true}, {class: 'form-control'}) %>
            </div>

            <%= f.fields_for :product_options do |s| %>
                <div class="form-group">
                  <%= s.label 'Size', class: 'control-label' %>
                  <%= s.text_field :size, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= s.label 'Color', class: 'control-label' %>
                  <%= s.text_field :color, class: 'form-control' %>
                </div>
            <% end %>

            <div class="form-group">
                <%= f.label 'Images', class: 'control-label' %>
                <%= f.file_field :images, multiple: true, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.submit "Create", class: 'btn btn-primary' %>
                <%= link_to 'Back', user_products_path(@user), class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>