<% if current_user.present? && current_user.profile.role.eql?('Admin') %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <%= link_to "#{current_user.email.split('@').first}", root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Category', categories_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Brand', brands_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Coupon', user_coupons_path(current_user), class: 'nav-link' %>
                </li>
            </ul>
            <div class="navbar-nav">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
            </div>
        </div>
    </nav>
<% elsif current_user.present? && current_user.profile.role.eql?('customer') %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Welcome, <%= current_user.email.split('@').first %></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%= link_to 'Home', root_path, class: 'nav-item nav-link active' %>
                <%= link_to 'About', about_path, class: 'nav-item nav-link' %>
                <%= link_to 'Contact us', contact_path, class: 'nav-item nav-link' %>
                <%= link_to 'Profile', user_profile_path(current_user, current_user.profile), class: 'nav-item nav-link' %>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <div class="navbar-nav">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
                </div>
        </form>
    </nav>
<% elsif current_user.present? && current_user.profile.role.eql?('seller') %>
    <nav class="navbar navbar-expand-lg navbar-light" style='background-color: #DFECD7'>
        <a class="navbar-brand" href="">Welcome, <%= current_user.email.split('@').first %></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%= link_to 'Home', root_path, class: 'nav-item nav-link active' %>
                <%= link_to 'About', about_path, class: 'nav-item nav-link' %>
                <%= link_to 'Contact us', contact_path, class: 'nav-item nav-link' %>
                <%= link_to 'Product',user_products_path(current_user), class: 'nav-item nav-link' %>
                <%= link_to 'Profile', user_profile_path(current_user, current_user.profile), class: 'nav-item nav-link' %>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <div class="navbar-nav">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
                </div>
        </form>
    </nav>
<% else %>
    <nav class="navbar navbar-expand-lg navbar-light" style='background-color: #c5d8f0'>
        <a class="navbar-brand" href="#">mySite</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%= link_to 'Home', root_path, class: 'nav-item nav-link active' %>
                <%= link_to 'About', about_path, class: 'nav-item nav-link' %>
                <%= link_to 'Contact us', contact_path, class: 'nav-item nav-link' %>
                <%= link_to 'Customer Registrations', customer_path, class: 'nav-item nav-link' %>
                <%= link_to 'Seller Registraions', seller_path, class: 'nav-item nav-link' %>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <div class="navbar-nav">
                    <%= link_to 'Login', new_user_session_path, class: 'nav-item nav-link' %>
                </div>
        </form>
    </nav>
<% end %>